<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Đăng nhập</h2>
	<form th:action="@{/login}" method="post">
		<table>
			<tr th:if="${message} != null" >
				<td th:text="${message}" colspan="2" style="color: red"></td>
			</tr>
			<tr>
				<td>Tên đăng nhập:</td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td>Mật khẩu:</td>
				<td><input type="password" name="password" size="20" required="required"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Đăng nhập" size="20" required="required"/></td>
			</tr>
		</table>
	</form>
</body>
</html>